
.nav-button {
    padding: .3rem;
    line-height: 2;
    font: inherit;
    font-size: 18px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
}
.nav-button:hover,
.nav-button:focus:not(.is-selected) {
    background-color: hsla(0,0%,0%,.1);
}
.nav-button.is-selected {
    background-color: var(--color-accent);
}
.nav-button.is-selected,
.nav-button.is-selected em {
    color: #fff;
}
.nav-button.is-selected:focus {
    opacity: .8;
}